{% load static %}

<!-- Footer -->
<footer id="site-footer">
  <div class="container">
    <div class="row">
      <div class="col-sm-6 col-md-3">
        <div class="bloc-cms">
          <div class="story-new">
          <strong style="color: white; font-size: 20px; letter-spacing: 1px;">Muziris Mandhi</strong>
        </div>
          <p style="margin-top: 20px;">
            Lorem sit amet, ectetr iscinit. Vestibulum vel sum er, suscipieros quis by lorem.<br /><br />
            Sed ventis nisl a auris laoreet, at ncidnt lectus volutpat. Etiam...
          </p>
        </div>
      </div>
      <div class="col-sm-6 col-md-3">
        <div class="open-hours">
          <span class="foot-title">Opening Hours</span>
          <p><span>MONDAY :</span> Closed</p>
          <p><span>TUE - FRI : </span>................. 10 am - 9 pm</p>
          <p><span>SATURDAY : </span>.............. 10 am - 11 pm</p>
          <p><span>Sunday  : </span>.................. 10 am - 12 pm</p>
        </div>
      </div>
      <div class="col-md-3 hidden-sm hidden-xs">
        <div class="last-tweet">
          <span class="foot-title">Social Media</span>
          <div class="item-tweet">
            <i class="fa fa-twitter"></i>
            <div>
              <p><a href="#">Twitter</a>
              </p>
            </div>
          </div>
          <div class="item-tweet">
            <i class="fa fa-instagram"></i>
            <div>
              <p><a href="#">Instagram</a>
              </p>
              
            </div>
          </div>
          <div class="item-tweet">
            <i class="fa fa-whatsapp"></i>
            <div>
              <p><a href="#">Whatsapp</a>
              </p>
            </div>
          </div>
          <div class="item-tweet">
            <i class="fa fa-facebook"></i>
            <div>
              <p><a href="#">Facebook</a>
              </p>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-3 hidden-sm hidden-xs">
        <div class="last-tweet">
          <span class="foot-title">Contact</span>
          <div class="item-tweet">
            <div>
              <p><a href="#">bangalore, karnataka</a>
              </p>
            </div>
          </div>
          <div class="item-tweet">
            <div>
              <p><a href="#">bangalore street Muziriz Mandhi</a>
              </p>
              
            </div>
          </div>
          <div class="item-tweet">
            <div>
              <p><a href="#">Email : muzirizmandhi@gmail.com</a>
              </p>
            </div>
          </div>
          <div class="item-tweet">
            <div>
              <p><a href="#">Phone : +91 1234567890</a>
              </p>
            </div>
          </div>
        </div>
      </div>  
    </div>
  </div>
  <div class="footer-copyright">
    <p>
      Copyright 2024 © Gedexo Technology All Rights Reserved.
    </p>
    <a href="#">Top</a>
  </div>
</footer>
<!-- End Footer -->